.calendar-container {
    padding: 20rpx;
  }
  
  .selected-date {
    font-size: 28rpx;
    font-weight: bold;
    margin: 20rpx 0;
  }
  
  .modal-body input {
    border: 1px solid #ccc;
    padding: 16rpx;
    margin-bottom: 16rpx;
    border-radius: 8rpx;
  }
  