.user-info {
    display: flex;
    align-items: center;
    padding: 20rpx;
  
    .avatar {
      width: 80rpx;
      height: 80rpx;
      border-radius: 40rpx;
      margin-right: 20rpx;
    }
  
    .nickname {
      font-size: 28rpx;
      color: #333;
    }
  }
  